{% extends 'base.html.twig' %}

{% block title %}Accueil
{% endblock %}

{% block body %}
	<main class="blockPage home">
		{% if app.user %}
			<h1 class="block-effect" style="--td: 1.2s">
				<div class="block-reveal" style="--bc: #C52E00; --d: .1s">Bienvenue</div>
				<div class="block-reveal" style="--bc: #88AB75; --d: .5s">
					{% if app.user.firstName %}
						{{ app.user.firstName }}
					{% else %}
						{{ app.user.userIdentifier }}
					{% endif %}
                    !
				</div>
			</h1>
		{% else %}
			<h1 class="block-effect" style="--td: 1.2s">
				<div class="block-reveal" style="--bc: #C52E00; --d: .1s">Mangez</div>
				<div class="block-reveal" style="--bc: #88AB75; --d: .5s">des pâtes !</div>
			</h1>
		{% endif %}
	</main>
{% endblock %}
