{% extends 'base.html.twig' %}

{% block title %}Modifier la catégorie{% endblock %}

{% block body %}
    <div class="blockPage">
        <section class="shopAdmin">
            <h1>Modifier la catégorie : {{ category.name }}</h1>
            <div class="block-category">
                {{ include('category/_form.html.twig') }}
            </div>
        </section>
    </div>
{% endblock %}
