{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="blockPage">
        <section class="shopAdmin">
            <h1>Créez une nouvelle catégorie</h1>
            <div class="block-category">
                {{ include('category/_form.html.twig') }}
            </div>
        <section>
    </div>
{% endblock %}
