{% extends 'base.html.twig' %}

{% block title %}Nouvelle catégorie{% endblock %}

{% block body %}
    <div class="blockPage">
        <section class="shopAdminView">
            <h1>Créer une nouvelle catégorie</h1>
            <div class="block-creation">
                {{ include('category/_form.html.twig') }}
            </div>
        <section>
    </div>
{% endblock %}
