{% extends 'base.html.twig' %}

{% block title %}Modifier le produit{% endblock %}

{% block body %}
    <div class="blockPage">
        <section class="shopAdmin">
            <h1>Modifier le produit</h1>
            <div class="block-category">
                {{ include('product/_form.html.twig', {'button_label': 'Modifier'}) }}
            </div>
        <section>
    </div>
{% endblock %}
