{% if display_cart == true  %}
    <style>
        .cart{
            display : flex;
        }
    </style> 
{% endif %}

{% if app.user %}
    <aside class="cart" id="cart">
        <a href="{{ path('app_basket', {'id': app.user.id}) }}">Acheter</a>
        <i class="fa-solid fa-cart-shopping"></i>
    </aside>
    
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}

{% endif %}

