{% if display_cart == true  %}
    <style>
        .cart{
            display : block;
        }
    </style> 
{% endif %}

<aside class="cart" id="cart">
    <p>Total €</p>
    <i class="fa-solid fa-cart-shopping"></i>
</aside>
