<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Nouveau message</title>
        <style>
            h1{
                color: red;
            }
            h2{
                color: purple;
            }
            p {
                color: blue;
            }
        </style>
    </head>
    <body>
        <h1>Nouveau message de : {{contact.firstName}} {{contact.lastName}}</h1>
        <h2>Voici le message :</h2>
        <p>{{contact.message}}</p>
    </body>
</html>
